@import "tailwindcss";

html{

scroll-behavior:smooth;

}

body{

font-family:"Inter",sans-serif;

background:#F5F5F5;

color:#1E1E1E;

overflow-x:hidden;

}

h1,h2,h3,h4{

font-family:"Playfair Display",serif;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#BEBEBE;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:white;

}